{% extends 'main.html' %}
{% block title %}
<title>Register</title>
{% endblock title %}
<div class ="container">
    {% block body %}
    <h1 class="text-center">Register page</h1>

<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="password">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">First name</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="First name">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Last name</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Last name">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Username</label>
      <input type="text" class="form-control" id="inputCity" placeholder="username">
    </div>
    <!-- <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12"> -->
      <div class="form-check">
      
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</div>




  </form>
{% endblock body %}
</div>